.modal {
	z-index: 100;
	display: block;
	position: fixed;
	top: 5vh;
	left: calc((100vw - 250px) / 2);
	height:auto;
	max-height: 90vh;
	overflow-y: auto;
	background-color: lightgoldenrodyellow;
	padding: 10px;
	/*border: 1px solid #ccc;*/
	/*box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);*/
}
.modal-tt {
	top: 10vh;
	left: calc((100vw - 300px) / 2);
	background-color: aliceblue;
}
.modal-ww {
	top: 5vh;
	left: calc((100vw - 270px) / 2);
	background-color: lightgoldenrodyellow;
}

.pe-none {
	pointer-events: none;
}

.pe-auto {
	pointer-events: auto;
}

.delay-red {
	background-color: red;
	color: white;
}

.delay-yellow {
	background-color: yellow;
	color: black;
}

.delay-green {
	background-color: green;
	color: white;
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	/*font-size: 1.25rem; inherit; 24px; 20*/
	line-height: inherit;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	vertical-align: bottom;
}


.oBox {
	padding: 4px;
	font-size: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.topleft {
	position: absolute;
	top: 2px;
	left: 4px;
	font-size: x-small;
	color: burlywood;
}

.oGrid {
	display: grid;
	grid-template-columns: 20% 40% auto;
	grid-template-areas:
		"oRecNo  oSbj oStart"
		"oDtyBtn oReq oConfirm"
		"oMsjBtn oAct oFinish";
	border: 1px solid grey; /* Dış çizgi */
	/*background-color: black;  Gap = iç çizgi */
	margin-bottom: 4px;
}

@media only screen and (min-width: 600px) {
	.oGrid {
		grid-template-columns: 5% 5% 5% 15% 15% 15% 14% 14% auto;
		grid-template-areas:
			"oRecNo oDtyBtn oMsjBtn oSbj oReq oAct oStart oFinish oConfirm";
	}
}

.oRecNo {
	grid-area: oRecNo;
	background-color:aquamarine;
	justify-content: center;
}

.oDtyBtn {
	grid-area: oDtyBtn;
	justify-content: center;
	text-align: center;
}

.oMsjBtn {
	grid-area: oMsjBtn;
	justify-content: center; /*Tek satır için*/
	text-align: center; /*Çok satır için*/
}

.oSbj {
	grid-area: oSbj;
}

.oReq {
	grid-area: oReq;
}

.oAct {
	grid-area: oAct;
}

.oStart {
	grid-area: oStart;
	justify-content: center;
	text-align: center;
}

.oFinish {
	grid-area: oFinish;
	justify-content: center;
	text-align: center;
}

.oConfirm {
	grid-area: oConfirm;
	font-size:large;
}

