@* @rendermode @(new InteractiveServerRenderMode(prerender: false)) *@
@* @inject NavigationManager NM *@
@page "/"

<PageTitle>Home</PageTitle>

<h1 >Hello, world!</h1>


@* <div style="width:280px;padding:8px;margin:auto;background-color:beige">
    <InpWW ID="4" />
</div>
 *@

@* <style>
    .smooth {
        transition: all 1s ease-in;
    }
</style>
<div id="color-demo" class="smooth" style="color:red"
     hx-get="/colors" hx-swap="outerHTML" hx-trigger="every 1s">
    Color Swap Demo
</div> *@

@* <Starship aaa="dilaracan" /> *@

@* <div id="replaceMe" ></div>
<button class='btn' hx-get="/can"
		hx-target="#replaceMe"
		hx-swap="innerHTML">
	Load More Agents...
</button>
 *@
@* <div hx-get="/random-number" hx-trigger="every 2s" hx-target="#random-number">
	<div id="random-number">
		<RandomNumber />
	</div>
</div>
 *@
