@inject NavigationManager Nav
@page "/login"

<EditForm Model="@Model" OnSubmit="@Submit" FormName="Starship1">
    <InputNumber @bind-Value="Model.Id" />
    <InputText @bind-Value="Model.Pwd" />
    <button type="submit">Submit</button>
</EditForm>

@* <a hx-get="/lgn" hx-target="this" hx-swap="none">New link</a> *@
<a hx-get="/lgn">New link</a>

<a href="/lgn">New link 2</a>

@code {

    [CascadingParameter]
    public HttpContext? context { get; set; }

    [Parameter]
    public string aaa { get; set; }

    [SupplyParameterFromForm]
    public LgnMdl? Model { get; set; }
    [Inject]
    IDataAccess db { get; set; }

    //[Inject] IUsrDic usrDic { get; set; }

    protected override void OnInitialized()
    {
        Model ??= new();
    }

    private void Submit()
    {
        //Logger.LogInformation("Id = {Id}", Model?.Id);

        var oldTkn = context.Request.Cookies["sener"];
        //usrDic.Remove(oldTkn);
        if (oldTkn != null)
            _ = db.LoadRec<ULE, dynamic>("select * from ULT_LOGOUT(@Tkn)", new { Tkn = oldTkn });

        Model.Tkn = Guid.NewGuid().ToString("N");

        //var usr = db.LoadRec<ULE, dynamic>("select * from UEX_EXIT(@UEXId)", new { UEXId = rLCV.UEXId });

        var usr = db.LoadRec<ULE, dynamic>("select * from ULT_LOGIN(@Id, @Pwd, @Tkn)", new { Id = Model.Id, Pwd = Model.Pwd, Tkn = Model.Tkn });

        //usrDic.Add(Model.Tkn, Model.Id);

        CookieOptions cookieOptions = new CookieOptions();
        cookieOptions.Secure = false;
        cookieOptions.Expires = DateTime.Now.AddHours(1);   // Sure bitince browser silmiyor, ama null gonderiyor
        cookieOptions.HttpOnly = true;
        cookieOptions.SameSite = SameSiteMode.Strict;
        context.Response.Cookies.Append("sener", Model.Tkn, cookieOptions);

        // Debug da hata gekiyeor RunTime da geçiyor
        Nav.NavigateTo("");  // HATA https://github.com/dotnet/aspnetcore/issues/53040
        //Nav.NavigateTo("/lgn");  // HATA https://github.com/dotnet/aspnetcore/issues/53040
    }

    public class LgnMdl
    {
        public int Id { get; set; }
        public string? Pwd { get; set; }
        public string? Tkn { get; set; }
    }
}