@inherits LayoutComponentBase


<div class="page">
    <div class="sidebar">
        <NavMenu UsrTkn="@usrTkn"/>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [CascadingParameter]
    public RLCV rLCV { get; set; }

    [CascadingParameter]
    public HttpContext? context { get; set; }

    //[Inject] 
    //IUsrDic usrDic { get; set; }

    private string usrTkn { get; set; }

    protected override void OnInitialized()
    {
        usrTkn = context?.Request.Cookies["sener"] ?? "";  // null ise yok/expired
        // usrTkn ??= "";
        // if (usrTkn == null)
        //     usrTkn = "";

        // if (usrTkn != null)
        // {
        //     var ok = usrDic.Add(usrTkn); // Tkn a karsilik gelen usr bilmiyor
        //     if (!ok)
        //     {
        //         CookieOptions cookieOptions = new CookieOptions();
        //         cookieOptions.Expires = DateTime.Now;   // Sure bitince browser silmiyor, ama null gonderiyor
        //         context.Response.Cookies.Append("sener", usrTkn, cookieOptions);
        //     }
        // }
    }

}