ul, #myUL {
	/*list-style-type: none;*/
}

#myUL {
	/*margin-left: -24px;*/
	padding: 0;
}

.caret {
	cursor: pointer;
	user-select: none;
}

	.caret::before {
		content: "🔻"; /*"\25B6";*/
		color: black;
		display: inline-block;
		margin-right: 2px;
	}

.caret-down::before {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */
	transform: rotate(180deg);
}

.nested {
	display: none;
}

.active {
	display: block;
}

ul > li {
	margin: 2px 12px 2px 12px;
}


