@rendermode @(new InteractiveServerRenderMode(prerender: false))

@inject IDataAccess db
@inject NavigationManager NM
@inject CascadingValueSource<AppState>? appStateSource
@implements IDisposable

<a href="#" @onclick="GoHome">YapHaydi</a>

@if (!string.IsNullOrEmpty(UsrTkn))
{
	<div class="ml-auto font-bold shadow-sm shadow-black rounded px-2">@appState.Ad</div>
}
<span class="material-symbols-outlined">&#xE8B6;</span>
<select @bind="menu" class="rounded px-2 bg-red-100 text-black ml-auto py-1 shadow-md shadow-black" >
	<option value="">🔴 MENU</option>
	@* <option value="counter">Counter &#xE8B6;</option> *@
	@* <option value="tts">⚙️ Tanım</option> *@
	
	@if (appState.IsFrm)	// Firma
	{
		@* <option value="orderfrmpending">📌 FirmaAktif</option> *@
		@* <option value="orderdone">💤 FirmaArşiv</option> *@
		<option value="ooall">💤 OrderAll</option>
	}
	else if (appState.IsYpn)	// Yapan
	{
		<option value="ooall">💤 OrderAll</option>
		@* <option value="orderypnpending">📌 YapanAktif</option> *@
		@* <option value="orderypndone">💤 YapanArşiv</option> *@
	}

	@if (string.IsNullOrEmpty(UsrTkn))
	{
		<option value=@($"login/{appState.UEXId}")>↗️ Login</option>
	}
	else
	{
		<option value=@($"logout/{appState.UEXId}")>↙️ Logout</option>
	}

</select>
<style>

	span.sz-48 {
		font-size: 48px;
		font-variation-settings: 'OPSZ' 48;
	}
</style>


@code {
	[CascadingParameter]
	public AppState? appState { get; set; } = default;

	[Parameter]
	public string? UsrTkn { get; set; } = default;

	private void GoHome() 
	{
		menu = "";
	}

	private string _menu;
	public string menu
	{
		get => _menu;
		set
		{
			_menu = value;
			NM.NavigateTo(value);
		}
	}

	public void Dispose()
	{
		var usr = db.LoadRec<ULE, dynamic>("select * from UEX_EXIT(@UEXId)", new { UEXId = appState.UEXId });
	}

	protected override void OnInitialized()
	{
		if (!string.IsNullOrWhiteSpace(UsrTkn))
		{
			var usr = db.LoadRec<ULE, dynamic>("select * from UEX_ENTER(@Tkn)", new { Tkn = UsrTkn });
			if (usr != null)
			{
				if (usr.UsrId > 0)
				{
					appState.UsrTkn = UsrTkn;
					appState.UsrId = usr.UsrId;
					appState.UEXId = usr.UEXId;
					appState.FrmId = usr.FFId;
					appState.Ad = usr.Ad;
					appState.IsFrm = usr.Ytk1 == 1 ? true : false;
					appState.IsDpt = usr.Ytk2 == 1 ? true : false;
					appState.IsYpn = usr.Ytk3 == 1 ? true : false;
				}
				else
				{
					UsrTkn = "";
				}
			}
		}
	}


}