ul, #myUL {
	/*list-style-type: none;*/
}

#myUL {
	/*margin-left: -24px;*/
	padding: 0;
}

.caret {
	cursor: pointer;
	user-select: none;
}

	.caret::before {
		content: "🔻"; /*"\25B6";*/
		color: black;
		display: inline-block;
		margin-right: 2px;
	}

.caret-down::before {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Safari */
	transform: rotate(180deg);
}

.nested {
	display: none;
}

.active {
	display: block;
}

ul > li {
	margin: 2px 12px 2px 12px;
}

.material-symbols-outlined {
	font-family: 'Material Symbols Outlined';
	font-weight: normal;
	font-style: normal;
	font-size: inherit; /*24px; 20*/
	line-height: inherit;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;
	vertical-align: bottom;
}
